
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignalRVotacao</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <div class="text-center">
    <h1 class="display-4">Votação de Stacks</h1>
        <button  class="btn btn-primary" type="submit">
            <a  class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Poll">Vote aqui</a>
        </button>
        <img style=" display: inline; width:100px; " src="https://c.tenor.com/JZazr88XBqEAAAAi/click-touch.gif" ><img />
</div>
</body>
</html>


